spring.application.name: estoque
server.port: 8084

spring:
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5432}/postgres
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database: postgresql

  cloud:
    function:
      definition: consumeMessage
    stream:
      defaultBinder: rabbit
      default.contentType: application/json
      bindings:
        consumeMessage-in-0:
          destination: product
          group: product-group
          contentType: application/json
          consumer:
            maxAttempts: 3
            backOffInitialInterval: 500
            backOffMaxInterval: 1000
            backOffMultiplier: 2.0
      rabbit:
        bindings:
          consumeMessage-in-0:
            consumer:
              autoBindDlq: true
              republishToDlq: true

  rabbitmq:
    host: message
    port: 5672
    username: guest
    password: guest

  
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
    initialInstanceInfoReplicationIntervalSeconds: 5
    registryFetchIntervalSeconds: 5
  instance:
    leaseRenewalIntervalInSeconds: 5
    leaseExpirationDurationInSeconds: 5

---
server.port: 8089
spring:
  config.activate.on-profile: docker
  datasource:
    url: jdbc:postgresql://db:5432/postgres
  rabbitmq:
    host: message

eureka:
  client:
    serviceUrl:
      defaultZone:
        http://discovery:8761/eureka/
