services:
  db:
    image: postgres:15
    restart: always
    environment:
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"

  discovery:
    build: discovery
    environment:
      - SPRING_PROFILES_ACTIVE=docker

  gateway:
    build: gateway
    ports:
      - 8080:8080
    environment:
      - SPRING_PROFILES_ACTIVE=docker

  catalogo:
    build: catalogo
    depends_on:
      - db
      - message
    environment:
      - SPRING_PROFILES_ACTIVE=docker
  
  estoque:
    build: estoque
    depends_on:
      - db
    environment:
      - SPRING_PROFILES_ACTIVE=docker
  
  preco:
    build: preco
    depends_on:
      - db
    environment:
      - SPRING_PROFILES_ACTIVE=docker
  
  message:
     image: rabbitmq:3-management
     ports: 
       - 5672:5672
       - 15672:15672

  keycloak:
    image: quay.io/keycloak/keycloak:25.0.4
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KEYCLOAK_HOSTNAME=localhost
      - KEYCLOAK_HOSTNAME_PORT=8081
      - KEYCLOAK_HOSTNAME_URL=http://localhost:8081
      - KEYCLOAK_FRONTEND_URL=http://localhost:8081
    ports:
      - "8081:8081"
    volumes:
      - keycloak-data:/opt/keycloak/data
    command:
      [ "start-dev", "--hostname", "http://localhost:8081" ]


volumes:
  keycloak-data: