spring.application.name: preco
server.port: 8085

spring:
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5432}/postgres
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database: postgresql


eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
    initialInstanceInfoReplicationIntervalSeconds: 5
    registryFetchIntervalSeconds: 5
  instance:
    leaseRenewalIntervalInSeconds: 5
    leaseExpirationDurationInSeconds: 5

---
server.port: 8089
spring:
  config.activate.on-profile: docker
  datasource:
    url: jdbc:postgresql://db:5432/postgres
  rabbitmq:
    host: message

eureka:
  client:
    serviceUrl:
      defaultZone:
        http://discovery:8761/eureka/